body {
    background-color: #F4F3F3;
    height: 232px;
    width: 260px;
    border: none;
    display: flex;
    flex-direction: column;
}

.icon {
    text-align: center;
}

.icon-img{
    width: 58px;
    height: 37px;
}

.price-section {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #094257;
    text-align: center;
}

.price-section p {
    margin: 0;
    font-weight: bold;
}

.current-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    height: 40px;
}

.current-price .current-symbol {
    height: 27px;
    width: 27px;
    background-color: #207899;
    color: #F4F3F3;
    border-radius: 5px 0 0 5px;
    text-align: center;
    font-size: 18px;
}

.current-price .current-price-update {
    height: 27px;
    width: 140px;
    background-color: #FFFCFC;
    border-radius: 5px;
    font-weight: bold;
}

.dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #094257;
    text-align: center;
}

.dates p {
    margin: 0;
    font-weight: bold;
}

.date-range {
    display: flex;
    flex-direction: column;
}

.date-range input {
    background-color: #DAD8D8;
    width: 135px;
    height: 22px;
    color: #094257;
    border: none;
    text-align: center;
}

button {
    background-color: #207899;
    color: #F4F3F3;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    width: 80px;
    height: 30px;
    align-self: center;
}

